<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         cacheDirectory=".phpunit.cache"
         bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Package">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="MAILJET_FROMEMAIL" value="from@mailjet.com"/>
    <env name="MAILJET_FROMNAME" value="mailjet"/>
    <env name="MAILJET_TOEMAIL" value="to@mailjet.com"/>
  </php>
</phpunit>
